<body>
    <h1 style="color: var(--highlight-color);">¡Descubre lo Mejor de Nuestra Tienda!</h1>
    <p style="color: white;">Sumérgete en un mundo de productos únicos y ofertas exclusivas que te encantarán.</p>
    <button (click)="navigateToProducts()" class="explore-button" style="background-color: var(--primary-color); color: var(--dark-color);">¡Explora Ahora!</button>
    <nav>
        <ul>
            <li><a routerLink="/metodos-pago" style="color: var(--highlight-color);">Métodos de Pago</a></li>
        </ul>
    </nav>
</body>
